---
layout: default
---

<div class="jumbotron" style="background-image: url('img/site_banner.jpg'); background-size: cover; background-position: 0px 0px">
    <h1><span style="background-color:#000; padding: .1em">{{site.conf_name}}</span></h1>
    <p class="welcome"><span style="background-color:#000; padding: .2em">{{site.conf_subtitle}}</span></p>
    <p class="welcome"><span style="background-color:#000; padding: .2em">{{site.conf_date}}, {{site.conf_location}}</span></p>
</div>

{{ content }}