---
layout: programme
---
<h1>Session {{page.title | upcase}}: {{page.session}}</h1>

<span data-tz="{{page.first_repeat_s}}" class="tz-d">{{page.first_repeat_s}}</span>
{% include session_time.html session=page.title %}

<h2>Papers in this session</h2>

<table class="table table-responsive table-bordered">
    <tbody>
    {% for paper in page.papers %}
    <tr>
        <td {%- if paper.flag== 1 %} class="success" {% elsif paper.flag == 2 %} class="warning" {%- endif -%}>
            {% assign session_paper = site.data.accepted-papers.full-papers | where_exp: "item", "item.acm_id == paper.acm_id" | first%}
            {{session_paper.title}}
            {% assign session_paper = site.data.accepted-papers.applied-papers | where_exp: "item", "item.acm_id == paper.acm_id" | first%}
            {{session_paper.title}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list-group">
    <li class="list-group-item list-group-item-success">Papers highlighted in green indicate the paper is selected for a live spotlight presentation.</li>
    <li class="list-group-item list-group-item-warning">Papers highlighted in gold indicate the paper has been shortlisted for a best paper award (and will also be presented live).</li>
</ul>

<small>This programme is indicative. Once registered, please refer to the session programme on Underline.</small>